*.o
*.d
*.out
.DS_Store

.vscode/

# ignore test binaries
**/tests/**/*.elf
**/tests/**/*.img

# latex
*.log
*.synctex.gz
*.aux
*.bbl
*.bcf
*.blg
*.out
*.run
*.toc
*.xml
.textpadtmp/**

# binaries
*.elf
*.img
!bin/*.elf
!bin/*.img
